.entry-content {
	margin-left:400px;
	margin-right: 100px;
	min-height: 90%;
}

#entry-title {
	font-size: 2.5em;
	margin-bottom: 0;
}

#entry-title-div {
	margin-bottom: 10px;
}

#tag-span {
	float:left;
}

#entry-nav-prev {
	float: left;
}

#entry-nav-next {
	float: right;
}

.entry-nav {
	position: absolute;
	bottom: 30px;
	clear: both;
	margin-top:30px;
	font-size: medium;
	display: block;
	min-height: 30px;
	padding-left: 15px;
	padding-right: 100px;  
	width: 100%;
}


.title-hover {
  height: 25px;
  display: none;
  margin-left: 10px;
}

#entry-title-div:hover .title-hover {
  display: inline;
}

#entry-text {
	margin-top: 75px;
}

.content-cell {
	padding-bottom: 65px;
}


