.entry-content {
	margin-left:400px;
	margin-right: 100px;
	min-height: 90%;
}

#entry-title {
	font-size: 4em;
	margin-bottom: 30px;
}

#tag-span {
	float:left;
}

#entry-nav-prev {
	float: left;
}

#entry-nav-next {
	float: right;
}

.entry-nav {
	margin-top:30px;
	font-size: large;
	display: block;
	min-height: 30px;
	padding-left: 15px;
	padding-right: 100px;
}



