html,body {
  padding: 0;
}

body{
  height: 0;
}

.center {
  margin-left: auto;
  margin-right: auto;
}

.main-content {
  margin-left: 400px;
  margin-right: 100px;
  /*background: #123456;*/
}

.entry-module-summary {
  margin-right: 25px;
  text-align: justify;
  margin-left: 5px;
}

.title-hover {
  height: 25px;
  display: none;
  margin-left: 10px;
}

.entry:hover .title-hover {
  display: inline;
}

.entry-module-title {
  margin-bottom: 0;
  padding-bottom: 0;
}

.publish-date {
  margin-left: 3px;
  margin-bottom: 15px;
}

.entry {
  margin-bottom: 30px;
}

#new-entry-btn {
  position: absolute;
  right: 15px;
  bottom: 15px;
  margin-top: 15px;
  margin-right: 15px;
}

#new-entry-btn {
  font-size: 2em;
}

#recent-cell {
  float:right;
  margin-right: 75px;
  width: 30%;
  min-height: 500px;
  margin-top: 80px;
}

#intro-cell {
  float:right;
  margin-right: 75px;
  width: 300px;
  min-height: 19%;
  margin-top: 80px;
}

#tweets-cell {
  float: right;
  margin-right: 75px;
  width: 300px;
  min-height: 43%;
  margin-bottom: 100px;
  margin-top: 30px;
}


.avatar {
  margin-left: 45px;
  margin-top: -15px;
}

.avatar-id {
  margin-left: 10px;
  font-size: 3em;
  color: black;
}


#social-div {
  margin-left: 15px;
  margin-top: 10px;
  margin-bottom: 3px;
}

.social {
  margin-top: 5px;
  padding-left: 0;
  margin-left: 30px;
  list-style: None;
  display: inline-block;
}

.social li {
  display: inline-block;
}

.social:hover li a img{
  /*opacity: 0.5;*/
  -webkit-filter: blur(0.8px);
}

.social li a:hover img{
  /*opacity: 1;*/
  -webkit-filter: blur(0);
  /*position: relative;
  bottom: 7px;*/
}

.social-icon {
  height: 35px;
}


#find-me-on {
  font-size: 1.25em;
}
