@import url(http://fonts.googleapis.com/css?family=Quantico);

.sidebar {
  background-color: #2222CC;
  float:left;
  position:fixed;
  width: 275px;
  left: 300px;
  margin-left: -300px;
  top: 0px;
  height:100%;
  background-size: 100%;
  background-repeat: no-repeat;
  z-index: 1;
}

#blog-name-box {
  margin-top: 20%;
  margin-left:20%;
  color: #000000;
  font-family: "sans-serif Verdana";
  font-size: x-large;
}

#blog-name {
  text-align: left;
  font-weight: bold;
  font-family: "Quantico";
}

#slogan {
  font-weight: bold;
  font-family: "Quantico";
}

#sidebar-copyright {
  position: absolute;
  bottom: 5%;
  margin-left: 20%;
  color: #000000;
  font-size: small;
}

a:link {text-decoration:none;}
a:visited {text-decoration:none;}
a:hover {text-decoration:none;}
a:active {text-decoration:none;}
