{% extends "main.html" %}
 
{% block head %}
  <link rel="stylesheet" href="{{ static_url("error.css") }}"/>
{% end %}

{% block content %}
    <div class="cell content-cell">
    <br/><br/><br/>
    <div class="about" style="margin:auto;width:60%;margin-top:10%;">
    <h1>I'm mULog</h1>
    <ul>
    	<li>菜鸟程序猿</li>
    	<li>我爱python</li>
    	<li>读各种书</li>
        <li>以及电影</li>
    	<li>入门宾得狗</li>
        <li>NBA真球迷 英超伪球迷</li>
        <li>有时候玩玩NBA 2K</li>
        <li>大概就是这样</li>
    </ul>
    </div>
    </div>
{% end %}

{% block script%}
<script>
  $(function() {
    setActiveHeader("header-about");
  });
</script>
{% end %}


