{% extends "main.html"%}

{% block head %}
	<link rel="stylesheet" href="{{ static_url("entry.css") }}"/>
	<link rel="stylesheet" href="{{ static_url("sidebar.css") }}"/>
	<link rel="stylesheet" href="{{ static_url("footer.css") }}"/>
  <link rel="stylesheet" href="{{ static_url("tag.css") }}"/>
  <link rel="stylesheet" href="http://highlightjs.org/static/styles/zenburn.css">
{% end %}

{% block content %}
  <div class="content-cell cell" id="{{ entry.slug if entry else ""}}">
  <div class="h-center" id="entry-title-div"> 
  <h1 class="h-center" id="entry-title">{{ entry["title"] if entry else ""}}</h1>
    {% if user %}
        <a href="/write/{{ entry.slug }}"><span id="title-hover-edit" class="title-hover glyphicon glyphicon-edit"></span></a>
        <a href="#"><span class="title-hover-remove title-hover glyphicon glyphicon-remove"></span></a>
        <div class="alert alert-danger fade in dis-none">
            <h4>Do you really want to remove "{{ entry.title }}"?</h4>
            <button type="button" class="btn btn-danger remove-btn">Remove</button>
            <button type="button" class="btn btn-default remove-cancel">Not now</button>
        </div>
        {% end %}
    </div>
    <div class="tags-div">
      <span id="tag-span">tags:</span> 
      <ul class="tags">
        {% for tag in entry["tags"] %}
          <li class="tag-li">
            <a href="/tag/{{ tag["tag"]}} ">{{ tag["tag"] }}</a>
          </li>
        {% end %}
      </ul>
    </div>
    <br/>
    <div class="h-center" id="entry-text">
      {% raw entry["html"] if entry else"" %}
    </div>


  <div class="entry-nav">
    <div id="entry-nav-prev">
      <a href="{{ "./" + neighbors["prev"]["slug"] if "prev" in neighbors else "" }}" data-toggle="tooltip" data-placement="bottom" title="{{ neighbors["prev"]["title"] if "prev" in neighbors else "None" }}"> 
        Prev: {{ neighbors["prev"]["title"][:15] if "prev" in neighbors else "None" }}
      </a>
    </div>
    <div id="entry-nav-next">
      <a href="{{ "./" + neighbors["next"]["slug"] if "next" in neighbors else "" }}" data-toggle="tooltip" data-placement="bottom" title="{{ neighbors["next"]["title"] if "next" in neighbors else "None" }}"> 
        Next: {{ neighbors["next"]["title"][:15] if "next" in neighbors else "None" }}
      </a>
    </div>
  </div>
    
  </div>


 {% end %}

{% block script %}
    
    <script type="text/javascript" src="http://yandex.st/highlightjs/8.0/highlight.min.js"></script>
    <script type="text/javascript">hljs.initHighlightingOnLoad();</script>


    {% if user %}
      <script type="text/javascript">
      $(function() {
        $(".title-hover-remove").each(function(index) {
            $(this).click(function() {
            $(this).parent().siblings(".alert").
                css("display", "block").alert();
            });
        });

        $(".remove-cancel").each(function(index) {
            $(this).click(function() {
                $(this).parent().fadeOut(200);
            });
        });

        $(".remove-btn").each(function(index) {
            $(this).click(function() {
                //get slug of the entry
                var slug = $(".entry-content").attr("id");
                //send ajax request to remove it
                removeEntry(slug);
            });
        });

    });

    function removeEntry(slug) {
        $.ajax({
            url: "/ajax/removeEntry/" + slug
        }).done(                
            function(data) {
                console.log(slug + " removed!");
                if(data.toUpperCase() == "OK") {
                  console.log("ok!");
                  window.location.replace("/");
                }
        });

    }
    </script>
    {% end %}


 	<script type="text/javascript">

    //enable tooltip
    $(function () { $("[data-toggle='tooltip']").tooltip(); });

    //arrow key navigation
 		document.onkeydown = function() {
      switch (window.event.keyCode) {
        case 37:  //left
          window.location = $("#entry-nav-prev").find("a").eq(0).attr("href");
          break;
        case 39:  //right
          window.location = $("#entry-nav-next").find("a").eq(0).attr("href");
      }
    };
 	</script>

{% end %}
