{% extends "base.html" %}
 
{% block head %}
  <link rel="stylesheet" href="{{ static_url("index.css") }}"/>
  <link rel="stylesheet" href="{{ static_url("sidebar.css") }}"
{% end %}

{% block body %}
    <div>
    {% include "sidebar.html" %}
    </div>
    <div class="index-page">
    <div class="index-content">
    {% for entry in entries %}
    <div class="entry">
        <h1 class=entry-module-title><a href="/entry?entry_id={{ entry.entry_id  }}">{{ entry.title   }}</a></h1>
        <div class="entry-module-summary">{% raw entry.html %}</div>
    </div>
    {% end %}
    </div>
    </div>
{% end %}

{% block script %}
    {% if new %}
        <script type="text/javascript">
            var first = $("div.entry:first");
            $(document).ready(function() {
                first.fadeOut();
                first.fadeIn(); 
            });
        </script>
    {% end %}
{% end %}


