{% extends "main.html" %}
 
{% block head %}
  <link rel="stylesheet" href="{{ static_url("index.css") }}"/>
  <link rel="stylesheet" href="{{ static_url("sidebar.css") }}">

  <link rel="stylesheet" href="{{ static_url("footer.css") }}">

{% end %}

{% block content %}
    <div> 
    <div class="cell" id="recent-cell">
    <span>Recent Posts >></span>
    {% for entry in entries %}
    <div class="entry" id="entry-{{ entry.slug }}">
        <h1 class="entry-module-title"><a href="./entry/{{ entry.slug  }}">{{ entry.title   }}</a></h1>
        {% if user %}
        <a href="./write/{{ entry.slug }}"><span id="title-hover-edit" class="title-hover glyphicon glyphicon-edit"></span></a>
        <a href="#"><span class="title-hover-remove title-hover glyphicon glyphicon-remove"></span></a>
        <div class="alert alert-danger fade in dis-none">
            <h4>Do you really want to remove "{{ entry.title }}"?</h4>
            <button type="button" class="btn btn-danger remove-btn">Remove</button>
            <button type="button" class="btn btn-default remove-cancel">Not now</button>
        </div>
        {% end %}
        <div class="publish-date"><strong>Posted on {{ entry.date }}</strong></div>
        <div class="entry-module-summary">{% raw entry.summary %}</div>
    </div>
    {% end %}
    </div>
    <div class="cell" id="intro-cell">
        <div>About >></div>
        <img class="avatar" src="{{ static_url("img/avatar.jpg")}}"><span class="avatar-id">mULog</span>
        </br>
        <div id="social-div">
        <span id="find-me-on">Find me on: </span>
        <ul class="social">
            <li><a href="https://www.twitter.com/Mulog1990" title="Mulog1990@twitter"><img class=social-icon src="{{ static_url("img/social_icons/twitter.png")}}"></a></li>
            <li><a href="https://www.github.com/Mulog1990" title="Mulog1990@Github"><img class=social-icon src="{{ static_url("img/social_icons/Github.png")}}"></a></li>
            <li><a href="https://www.v2ex.com/member/mulog" title="mulog@V2EX"><img class=social-icon src="{{ static_url("img/social_icons/v2ex.png")}}"></a></li>
            <li><a href="http://www.douban.com/people/3884388/"><img class=social-icon src="http://img3.douban.com/favicon.ico"></a></li>
        </ul>
        </div>
    </div>
    <div class="cell" id="tweets-cell">
        <div>Tweets >></div>
        <a class="twitter-timeline" href="https://twitter.com/Mulog1990" data-widget-id="445434562982592512">Tweets by @Mulog1990</a>
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
    </div>
{% end %}

{% block script %}
    {% if user %}
    <script type="text/javascript" src="{{ static_url("entry_action.js") }}"/>
    {% end %}

    {% if new %}
        <script type="text/javascript">
            var first = $("div.entry:first");
            $(document).ready(function() {
                first.fadeOut();
                first.fadeIn(); 
            });
        </script>
    {% end %}

      <script>
      $(function() {
        setActiveHeader("header-home");
      });
      </script>

{% end %}


