{% extends "main.html" %}
 
{% block head %}
  <link rel="stylesheet" href="{{ static_url("index.css") }}"/>
  <link rel="stylesheet" href="{{ static_url("sidebar.css") }}">
  <link rel="stylesheet" href="{{ static_url("footer.css") }}">

{% end %}

{% block content %}
    <a href="/write/"><span id="new-entry-btn" class="glyphicon glyphicon-plus">New</span></a>
    {% for entry in entries %}
    <div class="entry" id="entry-{{ entry.slug }}">
        <h1 class="entry-module-title"><a href="./entry/{{ entry.slug  }}">{{ entry.title   }}</a></h1>
        {% if user %}
        <a href="./write/{{ entry.slug }}"><span id="title-hover-edit" class="title-hover glyphicon glyphicon-edit"></span></a>
        <a href="#"><span class="title-hover-remove title-hover glyphicon glyphicon-remove"></span></a>
        <div class="alert alert-danger fade in dis-none">
            <h4>Do you really want to remove "{{ entry.title }}"?</h4>
            <button type="button" class="btn btn-danger remove-btn">Remove</button>
            <button type="button" class="btn btn-default remove-cancel">Not now</button>
        </div>
        {% end %}
        <div class="publish-date"><strong>Posted on {{ entry.date }}</strong></div>
        <div class="entry-module-summary">{% raw entry.summary %}</div>
    </div>
    {% end %}
{% end %}

{% block script %}
    {% if user %}
    <script type="text/javascript" src="{{ static_url("entry_action.js") }}"/>
    {% end %}

    {% if new %}
        <script type="text/javascript">
            var first = $("div.entry:first");
            $(document).ready(function() {
                first.fadeOut();
                first.fadeIn(); 
            });
        </script>
    {% end %}
{% end %}


