{% extends "main.html" %}
 
{% block head %}
  <link rel="stylesheet" href="{{ static_url("tags.css") }}">
  <link rel="stylesheet" href="{{ static_url("tag.css") }}">


{% end %}

{% block content %}
    <div class="cell content-cell">
    <div class="tags-div">
    <h1 style="float: left;">Posts with tag  </h1>
    <ul class="tags">
        <li class="tag-li">
            <a href="#">{{ tag }}</a>
        </li>
    </ul>
    </div>
    {% for entry in entries %}
    <div class="entry" id="entry-{{ entry.slug }}">
        <h1 class=entry-module-title><a href="/entry/{{ entry.slug  }}">{{ entry.title   }}</a></h1>
        {% if user %}
        <a href="/write/{{ entry.slug }}"><span id="title-hover-edit" class="title-hover glyphicon glyphicon-edit"></span></a>
        <a href="#"><span id="title-hover-remove" class="title-hover glyphicon glyphicon-remove" onclick="removeAlert('{{entry.title}}','{{entry.slug}}')"></span></a>
        {% end %}
        <div class="entry-module-summary">{% raw entry.html %}</div>
    </div>
</div>
    {% end %}
{% end %}

{% block script %}
    {% if user %}
    <script type="text/javascript">
        function removeAlert(title, slug) {
            if(confirm("Are you sure to remove " + title + "?")) {
                removeEntry(title, slug);
            }
        }

        function removeEntry(title, slug) {
            $.ajax({
                url: "/ajax/removeEntry/" + slug
            }).done(                
                function(data) {
                    console.log(title + " removed!");
                    $("#" + "entry-" + slug).fadeOut();
            });

        }

    </script>
    {% end %}
{% end %}


